
body{
    background:black;
    color:white;
}
/* desktop browser has built in margin */
body,ul,li{
    margin:0;
    padding:0;
    -webkit-margin-before:0;
    -webkit-margin-after:0;
    -webkit-padding-start:0;
}

li{
    box-sizing: border-box;/* constant width, including padding and border */
    list-style: none;
    position:absolute;
    display:inline-block;
    background-size:cover;
}

ul.outer{
    list-style:none;
    position:absolute;
    width:1280px;
    height:400px;

}

ul.bottom{
    top:350px;
}

ul.outer>li{
    left:0;
    top:0;
    position:absolute;
    width:268px;
    background: black;
}

ul.outer>li:nth-child(1){  -webkit-transform:translate3d(-256px,0,0);   }
ul.outer>li:nth-child(2){  -webkit-transform:translate3d(0px,0,0);      }
ul.outer>li:nth-child(3){  -webkit-transform:translate3d(250px,0,0);    }
ul.outer>li:nth-child(4){  -webkit-transform:translate3d(460px,0,0); width:402px;}/*Center*/
ul.outer>li:nth-child(5){  -webkit-transform:translate3d(840px,0,0);    }
ul.outer>li:nth-child(6){  -webkit-transform:translate3d(1024px,0,0);   }
ul.outer>li:nth-child(n+7){  -webkit-transform:translate3d(1280px,0,0);}











ul.outer>li:nth-child(n+8){
    display:none;
}


li ul li{
    width:143px;
    height:208px;
    background:black;
    border:1px solid #FFF;
    position:absolute;
    left:0;
    top:0;
}
ul li p{
    position:absolute;
    top:0;
    left:0;
    width:120px;
    color:#FFF;
    font-weight:bold;
    text-align: center;
    -webkit-transform:translate3d(20px,200px,0);
}

/* Stack all lists front to back */
ul li:nth-child(1){z-index:20;}
ul li:nth-child(2){z-index:19;}
ul li:nth-child(3){z-index:18;}
ul li:nth-child(4){z-index:17;}
ul li:nth-child(5){z-index:16;}
ul li:nth-child(6){z-index:15;}
ul li:nth-child(7){z-index:14;}
ul li:nth-child(8){z-index:13;}
ul li:nth-child(9){z-index:12;}
ul li:nth-child(10){z-index:11;}
ul li:nth-child(11){z-index:10;}
ul li:nth-child(12){z-index:9;}
ul li:nth-child(13){z-index:8;}
ul li:nth-child(14){z-index:7;}
ul li:nth-child(15){z-index:6;}
ul li:nth-child(16){z-index:5;}
ul li:nth-child(17){z-index:4;}
ul li:nth-child(18){z-index:3;}
ul li:nth-child(19){z-index:2;}
ul li:nth-child(20){z-index:1;}




/* LEFT SIDE */
ul.outer li:nth-child(n+1):nth-child(-n+3) ul li:nth-child(1){  -webkit-transform:translate3d(0,0,0) scale(.68);}
ul.outer li:nth-child(n+1):nth-child(-n+3) ul li:nth-child(2){  -webkit-transform:translate3d(5%,2%,0) scale(.64);}
ul.outer li:nth-child(n+1):nth-child(-n+3) ul li:nth-child(3){  -webkit-transform:translate3d(10%,3%,0) scale(.60);}
ul.outer li:nth-child(n+1):nth-child(-n+3) ul li:nth-child(4){  -webkit-transform:translate3d(15%,4%,0) scale(.57);}
ul.outer li:nth-child(n+1):nth-child(-n+3) ul li:nth-child(5){  -webkit-transform:translate3d(20%,6%,0) scale(.54);}
ul.outer li:nth-child(n+1):nth-child(-n+3) ul li:nth-child(6){  -webkit-transform:translate3d(25%,7%,0) scale(.51);}

/* RIGHT SIDE */
ul.outer li:nth-child(n+5):nth-child(-n+10) ul li:nth-child(1){  -webkit-transform:translate3d(0,0,0) scale(.68);}
ul.outer li:nth-child(n+5):nth-child(-n+10) ul li:nth-child(2){  -webkit-transform:translate3d(-5%,2%,0) scale(.64);}
ul.outer li:nth-child(n+5):nth-child(-n+10) ul li:nth-child(3){  -webkit-transform:translate3d(-10%,3%,0) scale(.60);}
ul.outer li:nth-child(n+5):nth-child(-n+10) ul li:nth-child(4){  -webkit-transform:translate3d(-15%,4%,0) scale(.57);}
ul.outer li:nth-child(n+5):nth-child(-n+10) ul li:nth-child(5){  -webkit-transform:translate3d(-20%,6%,0) scale(.54);}
ul.outer li:nth-child(n+5):nth-child(-n+10) ul li:nth-child(6){  -webkit-transform:translate3d(-25%,7%,0) scale(.51);}


/* CENTER */
ul.outer li:nth-child(4) ul li{  -webkit-transform:translate3d(100%,15%,0) scale(.7);}

ul.outer li:nth-child(4) ul li:nth-child(1){  -webkit-transform:translate3d(0,0,0) scale(1); opacity:1;}
ul.outer li:nth-child(4) ul li:nth-child(2){  -webkit-transform:translate3d(20%,3%,0) scale(.94);}
ul.outer li:nth-child(4) ul li:nth-child(3){  -webkit-transform:translate3d(40%,6%,0) scale(.88); }
ul.outer li:nth-child(4) ul li:nth-child(4){  -webkit-transform:translate3d(60%,9%,0) scale(.82); }
ul.outer li:nth-child(4) ul li:nth-child(5){  -webkit-transform:translate3d(80%,12%,0) scale(.76);}
ul.outer li:nth-child(4) ul li:nth-child(6){  -webkit-transform:translate3d(100%,15%,0) scale(.7);}
ul.outer li:nth-child(4) p{-webkit-transform:translate3d(30px,230px,0);}



li,
ul.outer li>p{
    -webkit-transition:-webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}



/* Catalogue View */

.cat ul.outer>li{
    display:none;
}

.cat ul.outer li:nth-child(4){
    display:inline-block;
}

/* CENTER */

.cat ul.outer{overflow:visible; }

.cat ul.outer li:nth-child(4) ul li{  -webkit-transform:translate3d(100%,15%,0) scale(.7);}

/*
110/143

*/

.cat ul.outer li:nth-child(4) ul li:nth-child(1){  -webkit-transform:translate3d(-450px,-274px,0) scale(.77);}
.cat ul.outer li:nth-child(4) ul li:nth-child(2){  -webkit-transform:translate3d(-330px,-274px,0) scale(.77);}
.cat ul.outer li:nth-child(4) ul li:nth-child(3){  -webkit-transform:translate3d(-210px,-274px,0) scale(.77); }
.cat ul.outer li:nth-child(4) ul li:nth-child(4){  -webkit-transform:translate3d(-90px,-274px,0) scale(.77); }
.cat ul.outer li:nth-child(4) ul li:nth-child(5){  -webkit-transform:translate3d(30px,-274px,0) scale(.77);}
.cat ul.outer li:nth-child(4) ul li:nth-child(6){  -webkit-transform:translate3d(150px,-274px,0) scale(.77);}
.cat ul.outer li:nth-child(4) ul li:nth-child(7){  -webkit-transform:translate3d(270px,-274px,0) scale(.77);}
.cat ul.outer li:nth-child(4) ul li:nth-child(8){  -webkit-transform:translate3d(390px,-274px,0) scale(.77);}
.cat ul.outer li:nth-child(4) ul li:nth-child(9){  -webkit-transform:translate3d(510px,-274px,0) scale(.77);}
.cat ul.outer li:nth-child(4) ul li:nth-child(10){  -webkit-transform:translate3d(630px,-274px,0) scale(.77);}

.cat ul.outer li:nth-child(4) ul li:nth-child(11){  -webkit-transform:translate3d(-450px,-66px,0) scale(.77);}
.cat ul.outer li:nth-child(4) ul li:nth-child(12){  -webkit-transform:translate3d(-330px,-66px,0) scale(.77);}
.cat ul.outer li:nth-child(4) ul li:nth-child(13){  -webkit-transform:translate3d(-210px,-66px,0) scale(.77); }
.cat ul.outer li:nth-child(4) ul li:nth-child(14){  -webkit-transform:translate3d(-90px,-66px,0) scale(.77); }
.cat ul.outer li:nth-child(4) ul li:nth-child(15){  -webkit-transform:translate3d(30px,-66px,0) scale(.77);}
.cat ul.outer li:nth-child(4) ul li:nth-child(16){  -webkit-transform:translate3d(150px,-66px,0) scale(.77);}
.cat ul.outer li:nth-child(4) ul li:nth-child(17){  -webkit-transform:translate3d(270px,-66px,0) scale(.77);}
.cat ul.outer li:nth-child(4) ul li:nth-child(18){  -webkit-transform:translate3d(390px,-66px,0) scale(.77);}
.cat ul.outer li:nth-child(4) ul li:nth-child(19){  -webkit-transform:translate3d(510px,-66px,0) scale(.77);}
.cat ul.outer li:nth-child(4) ul li:nth-child(20){  -webkit-transform:translate3d(630px,-66px,0) scale(.77);}

.cat ul.outer li:nth-child(4)>p{  -webkit-transform:translate3d(-440px,-310px,0) scale(2.0);}














